## List

In [2]:
cities = ["Tehran", "Yazd", "Shiraz", "Tabriz"]

In [3]:
scores = [16, 20, 18, 17]

In [4]:
mixed =  ["AI", 2025, True]

In [5]:
#str to list
line = " Todays is the best time for techs."
parts = line.split()
print(parts)

['Todays', 'is', 'the', 'best', 'time', 'for', 'techs.']

In [6]:
animals = ['cat', 'dog']
animals.append("parrot")
print(animals)

['cat', 'dog', 'parrot']

In [7]:
animals.insert(1, 'horse')
print(animals)

['cat', 'horse', 'dog', 'parrot']

In [8]:
scores_cls1 = [19, 18, 20]
scores_cls2 = [20, 10, 12]
scores = scores_cls1 +  scores_cls2
print(scores)

[19, 18, 20, 20, 10, 12]

In [9]:
scores_cls1.append(scores_cls2)
print(scores_cls1)

[19, 18, 20, [20, 10, 12]]

In [11]:
users = ["Ali", "Jack", "Sara"]
first = users[0]
last = users[-1]

print(f"first: {first}, last: {last}")

first: Ali, last: Sara

In [12]:
users[1]="Jack S."
users

['Ali', 'Jack S.', 'Sara']

In [13]:
iraninan_sedans = ['samand', 'soren', 'tiba', 'saina', 'dena']
len(iraninan_sedans)

5

In [16]:
s = 4
p = "4"
s*p

'4444'

In [15]:
s = "hi"
s * 4

'hihihihi'

In [14]:
greeting_words = ["hi"]
greeting_words * 4

['hi', 'hi', 'hi', 'hi']

In [18]:
greeting_words.append(["hi"])
greeting_words

['hi', ['hi'], ['hi']]

In [22]:
greeting_words = ["hi"]
test = []
test.append(greeting_words)
test.append(greeting_words)
test

[['hi'], ['hi']]

## Slicing

In [29]:
nums = [00, 10, 20, 30, 40, 50, 60]
print(nums[:3])
print(nums[3:])
print(nums[1:4])
print(nums[-2:])

[0, 10, 20]
[30, 40, 50, 60]
[10, 20, 30]
[50, 60]

## For / Loop

In [30]:
for i in nums: 
    print(i)

0
10
20
30
40
50
60

In [35]:
for i in nums: #[00, 10, 20, 30, 40, 50, 60]
    print(i)
    print("hi")
    
    
print("bye")

0
hi
10
hi
20
hi
30
hi
40
hi
50
hi
60
hi
bye

## finding index of element!

In [36]:
letters = ["a", "b", "c"]
letters.index("b")

1

In [37]:
letters = ["a", "b", "c", "b"]
letters.index("b")

1

In [38]:
letters = ["a", "b", "c", "b"]
letters.find("b")

AttributeError: 'list' object has no attribute 'find'

# removing element

In [40]:
cities = ["Tehran", "Yazd", "Shiraz", "Tabriz"]

In [41]:
#by value
cities.remove("Tehran")

In [42]:
print(cities)

['Yazd', 'Shiraz', 'Tabriz']

In [43]:
#by index
del cities[1]
print(cities)

['Yazd', 'Tabriz']

In [44]:
t = cities.pop()
print(t)
print(cities)

Tabriz
['Yazd']

In [48]:
tech_brands = ['apple', 'samsung', 'google']
t = tech_brands.pop()
length_t = len(t)
print(t)
print(length_t)
print(tech_brands)

google
6
['apple', 'samsung']

In [49]:
tech_brands.pop(0)

'apple'

## count

In [45]:
cities = ["Tehran", "Yazd", "Shiraz", "Tabriz", "Shiraz"]
cities.count("Shiraz")

2

## Sorting

In [51]:
#min ---> max
ages = [10, 8, 13, 14, 9]
#8 ---->14
ages.sort()
ages

[8, 9, 10, 13, 14]

In [52]:
#max ---> min
ages.sort(reverse=True)
ages

[14, 13, 10, 9, 8]

In [53]:
#str list
names = ["Ahmad", "Hannah", "Sara", "Changiz"]
names.sort()
print(names)

['Ahmad', 'Changiz', 'Hannah', 'Sara']

In [54]:
cities = ["Tehran", "yazd", "shiraz", "tabriz", "Shiraz"]
cities.sort()
print(cities)

['Shiraz', 'Tehran', 'shiraz', 'tabriz', 'yazd']

In [56]:
cities.sort(key=str.lower)
cities

['Shiraz', 'shiraz', 'tabriz', 'Tehran', 'yazd']

In [57]:
cities = sorted(cities, key=str.lower)
print(cities)

['Shiraz', 'shiraz', 'tabriz', 'Tehran', 'yazd']

In [58]:
#sorted vs sort!
lst = ['a', 'A', 'C', 'D', 'd']
lst.sort()
print(lst)

['A', 'C', 'D', 'a', 'd']

In [60]:
lst_2 = ['a', 'A', 'C', 'D', 'd']
y = sorted(lst_2)
print(y)

['A', 'C', 'D', 'a', 'd']